<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/app-layout/app-drawer/app-drawer.html">
<link rel="import" href="../bower_components/app-layout/app-drawer-layout/app-drawer-layout.html">
<link rel="import" href="../bower_components/app-layout/app-header/app-header.html">
<link rel="import" href="../bower_components/app-layout/app-header-layout/app-header-layout.html">
<link rel="import" href="../bower_components/app-layout/app-scroll-effects/app-scroll-effects.html">
<link rel="import" href="../bower_components/app-layout/app-toolbar/app-toolbar.html">
<link rel="import" href="../bower_components/app-route/app-location.html">
<link rel="import" href="../bower_components/app-route/app-route.html">
<link rel="import" href="../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../bower_components/iron-selector/iron-selector.html">
<link rel="import" href="../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="my-icons.html">

<link rel="lazy-import" href="my-login.html">
<link rel="lazy-import" href="my-extapi.html">
<link rel="lazy-import" href="my-clients.html">
<link rel="lazy-import" href="my-view404.html">
<link rel="lazy-import" href="my-management.html">
<link rel="lazy-import" href="my-detail.html">

<dom-module id="my-app">
  <template>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <style>
      :host {
        --app-primary-color: #004481;
        --app-secondary-color: black;

        display: block;
      }

      app-drawer-layout:not([narrow]) [drawer-toggle] {
        display: flex;
        background-color: var(--app-primary-color);
      }
      app-drawer {
        --app-drawer-content-container: {
          box-shadow: 1px 0 2px 1px rgba(0,0,0,0.18);
        }
        --app-drawer-scrim-background: rgba(179, 157, 219, 0.5);
      }

      app-header {
        color: #fff;
        background-color: var(--app-primary-color);
        margin-left: auto;
        margin-right: auto;
      }

      app-header paper-icon-button {
        --paper-icon-button-ink-color: white;
      }


      #drawer2 {
        background-color: #fff;
        color: var(--app-primary-color);
      }

      .drawer-list {
        margin: 0 20px;
      }

      .drawer-list a {
        display: block;
        padding: 0 16px;
        text-decoration: none;
        color: var(--app-secondary-color);
        line-height: 40px;
      }

      .drawer-list a.iron-selected {
        color: black;
        font-weight: bold;
      }

    </style>

    <app-location
        route="{{route}}"
        url-space-regex="^[[rootPath]]">
    </app-location>

    <app-route
        route="{{route}}"
        pattern="[[rootPath]]:page"
        data="{{routeData}}"
        tail="{{subroute}}">
    </app-route>


      <app-drawer-layout fullbleed narrow="{{narrow}}">
        <!-- Drawer content -->

          <iron-selector selected="[[page]]" attr-for-selected="name" class="drawer-list" role="navigation" hidden='{{my-app::!logado}}'>
            <a name="login" href="[[rootPath]]login" hidden='{{my-app::!logado}}'>Menú Principal</a>
            <a name="extapi" href="[[rootPath]]extapi" hidden='{{my-app::!logado}}'>Posibles Clientes</a>
            <a name="clients" href="[[rootPath]]clients" hidden='{{my-app::!logado}}'>Catálogo de Clientes</a>
          </iron-selector>



      <!-- Main content -->
      <app-header-layout has-scrolling-region>

        <app-header slot="header" fixed condenses reveals effects="waterfall">
          <app-toolbar>
            <div main-title class="col text-center">BBVA</div>
          </app-toolbar>
        </app-header>

        <iron-pages
            selected="[[page]]"
            attr-for-selected="name"
            fallback-selection="view404"
            role="main">
          <my-login name="login"></my-login>
          <my-extapi name="extapi"></my-extapi>
          <my-clients name="clients"></my-clients>
          <my-view404 name="view404"></my-view404>
          <my-management name="management"></my-management>
          <my-detail name="detail"></my-detail>

        </iron-pages>
      </app-header-layout>
    </app-drawer-layout>
  </template>

  <script>
    // Gesture events like tap and track generated from touch will not be
    // preventable, allowing for better scrolling performance.
    Polymer.setPassiveTouchGestures(true);

    class MyApp extends Polymer.Element {
      static get is() { return 'my-app'; }

      static get properties() {
        return {
          page: {
            type: String,
            reflectToAttribute: true,
            observer: '_pageChanged',
          },
          routeData: Object,
          subroute: Object,
          // This shouldn't be neccessary, but the Analyzer isn't picking up
          // Polymer.Element#rootPath
          rootPath: String,
          bandera: {
            type: Boolean,
            value: true
          }
        };
      }

      static get observers() {
        return [
          '_routePageChanged(routeData.page)',
        ];
      }

      _routePageChanged(page) {
        // If no page was found in the route data, page will be an empty string.
        // Default to 'login' in that case.
        this.page = page || 'login';

        // Close a non-persistent drawer when the page & route are changed.

      }

      _pageChanged(page) {
        // Load page import on demand. Show 404 page if fails
        const resolvedPageUrl = this.resolveUrl('my-' + page + '.html');
        Polymer.importHref(
            resolvedPageUrl,
            null,
            this._showPage404.bind(this),
            true);
      }

      _showPage404() {
        this.page = 'login';
      }
    }

    window.customElements.define(MyApp.is, MyApp);
  </script>
</dom-module>
