<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="shared-styles.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">

<dom-module id="my-clients">
  <template>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }
    </style>
    <style is = "custom-style">
          #container {
             display: flex;
          }
     </style>

  <div class="col text-center centrado">
    <div class="card">
            <a name="login" href="[[rootPath]]">Menú Principal</a>
            <a name="login" href="[[rootPath]]management">Administración de clientes</a>
            <a name="login" href="[[rootPath]]detail">Consulta Puntual</a>
    </div>
    </div>
  </div>



<div class="card">
  <div class="col text-center">
  <div class="container-fluid">
  <a>Catálogo de Clientes</a>
  <div class="col text-center"><br>
<button type="button" id="boton" name="button" class="btn btn-primary" disabled="{{!bandera}}" on-click="obtenerClientesJ">Clientes</button>
<button type="button" id="boton" name="button" class="btn btn-primary" disabled="{{!bandera2}}" on-click="mostrarMovimientos" hidden="{{bandera}}">Movimientos</button>
</div>
</div>
  </div>
  </div>
<template is="dom-repeat" items="{{clientes}}">
  <template is="dom-repeat" items="{{item}}">
  <div class="card">
    <div class="container-fluid">
      <div class="row">
        <div class="col text-left">
          Nombre: [[item.nombre]] [[item.apellido]]<br>
          Cuenta: [[item.numCuenta]]
          </div>
        <div class="col text-right">
          Saldo: [[item.saldo]]<br>
          [[item.typoTarjeta]]
        </div>
        </div>
        <div class="row">
        <template is="dom-repeat" items="{{item.listado}}">
          <div class="card" hidden="{{bandera2}}">
            <div class="container-fluid">
              <div class="col">
                [[item.categoria]]<br>
                [[item.importe]]<br>
                [[item.createdAt]]
              </div>
              </div>
            </div>
          </template>
      </div>
      </div>
    </div>
  </template>
  </template>

</template>


  <script>
    class MyClients extends Polymer.Element {
      static get is() { return 'my-clients'; }
      static get properties() {
  return {
    cuenta: Number,
      clientes: {
      type: Array,
      notify: true
  },
  bandera: {
    type: Boolean,
    value: true
  },
  bandera2: {
    type: Boolean,
    value: true
  }
  };
}

obtenerClientesJ() {
 var request = new XMLHttpRequest();
 request.open("GET", "http://localhost:3000/clientes", false);
 request.setRequestHeader("Accept", "application/json");
 request.send();
 var obj=JSON.parse(request.responseText);
 this.clientes = Object.values(obj)
 this.bandera = false;
}

mostrarMovimientos(){
  this.bandera2 = false;
}

consultaCliente(){
  var a = parseInt(this.Id);
  var request = new XMLHttpRequest();
  request.open("GET", "http://localhost:3000/Clientes/"+a, false);
  request.setRequestHeader("Accept", "application/json");
  request.send();
  this.client = JSON.parse(request.responseText);
}


}

    window.customElements.define(MyClients.is, MyClients);
  </script>
</dom-module>
