<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="shared-styles.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">

<dom-module id="my-detail">
  <template>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }
    </style>
    <style is = "custom-style">
          #container {
             display: flex;
          }
     </style>

  <div class="col text-center centrado">
    <div class="card">
            <a name="login" href="[[rootPath]]">Menú Principal</a>
            <a name="login" href="[[rootPath]]management">Administración de clientes</a>
            <a name="login" href="[[rootPath]]clients">Catálogo de clientes</a>
    </div>
    </div>


<div class="card">
  <div class="col text-center">
    <a>Consulta Puntual</a>
    <form>
      <div class="container-fluid">
      </div>
      <div class="form-group">
        <input type="number" id='email2' value="{{cuenta::input}}" class="form-control centrado" placeholder="Cuenta" required autofocus min=10000>
      </div>
      <div class="col text-center">
        <button id ='boton' type="button" on-click="consultaCliente" class="btn btn-primary">Consulta</button>
        <button type="button" id="boton" name="button" class="btn btn-primary" on-click="mostrarMovimientos" hidden="{{bandera}}">Movimientos</button>
        <button id ='boton3' type="button" on-click="eliminaCliente" class="btn btn-danger">Elimina</button>
      </div>
    </form>
</div>
  </div>

<template is="dom-repeat" items="{{clientes}}">
  <template is="dom-repeat" items="{{item}}">
  <div class="card">
    <div class="container-fluid">
      <div class="row">
        <div class="col text-left">
          Nombre: [[item.nombre]] [[item.apellido]]<br>
          Cuenta: [[item.numCuenta]]
          </div>
        <div class="col text-right">
          Saldo: [[item.saldo]]<br>
          [[item.typoTarjeta]]
        </div>
        </div>
        <div class="row">
        <template is="dom-repeat" items="{{item.listado}}">
          <div class="card" hidden="{{bandera2}}">
            <div class="container-fluid">
              <div class="col">
                [[item.categoria]]<br>
                [[item.importe]]<br>
                [[item.createdAt]]
              </div>
              </div>
            </div>
          </template>
      </div>
      </div>
    </div>
  </template>
  </template>

</template>


  <script>
    class MyDetail extends Polymer.Element {
      static get is() { return 'my-detail'; }
      static get properties() {
  return {
    cuenta: Number,
      clientes: {
      type: Array,
      notify: true
  },
  bandera: {
    type: Boolean,
    value: true
  },
  bandera2: {
    type: Boolean,
    value: true
  }
  };
}


mostrarMovimientos(){
  this.bandera2 = false;
}

consultaCliente(){
  if (this.cuenta == undefined || this.cuenta < 10000 || this.cuenta == NaN){
    alert("Error, valide la cuenta");
  } else {

  var request = new XMLHttpRequest();
  request.open("GET", "http://localhost:3000/clientes/numCuenta/"+this.cuenta, false);
  request.setRequestHeader("Accept", "application/json");
  request.send();
  var obj=JSON.parse(request.responseText);
  if(Object.values(obj) == "No encontrado"){
    alert("No encontrado, valide.")
  } else{
  this.clientes = Object.values(obj)
  this.bandera = false;
  this.cuenta = undefined;
}
}
}

eliminaCliente(){
  if (this.cuenta == undefined || this.cuenta < 10000 || this.cuenta == NaN){
    alert("Error, valide la cuenta");
  } else {
  var request = new XMLHttpRequest();
  request.open("DELETE", "http://localhost:3000/clientes/numCuenta/"+this.cuenta, false);
  request.setRequestHeader("Accept", "application/json");
  request.send();
  var obj=JSON.parse(request.responseText);
  if(Object.values(obj) == "No encontrado"){
    alert("No encontrado, valide.")
  } else{
  alert("Cuenta: " + this.cuenta + " eliminada exitosamente");
  this.cuenta = obj = undefined;
}
}
}
}

    window.customElements.define(MyDetail.is, MyDetail);
  </script>
</dom-module>
