<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="shared-styles.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">


<dom-module id="my-extapi">
  <template>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }
    </style>
    <div class="card">
            <a class="centrado" name="login" href="[[rootPath]]">Menú Principal</a>
    </div>


      <div class="col text-center">
  <button type="button" name="button" id='boton' class="btn btn-primary" on-click="obtenerClientes" hidden="{{bandera}}">Consulta</button>
</div>
<br>
<div class="row">
  <table class="table table-striped table-hover">
    <tbody>
            <tr>
              <div class="col text-center">
                <th>Compañía</th>
              </div>
              <div class="col text-center">
              <th>Nombre</th>
              </div>
              <div class="col text-center">
              <th>Ciudad</th>
              </div>
            </tr>
            <template is="dom-repeat" items="{{clientes}}">
              <tr>
                <div class="col text-center">
                  <td>[[item.CompanyName]]</td>
                </div>
                <div class="col text-center">
                  <td>[[item.ContactName]]</td>
                </div>
                <div class="col text-center">
                  <td>[[item.City]]</td>
                </div>



              </tr>
            </template>
          </tbody>
  </table>
</div>

  </template>

  <script>
    class MyExtapi extends Polymer.Element {
      static get is() { return 'my-extapi'; }
      static get properties() {
  return {
    clientes: {
      type: Array,
      notify: true
  },
  bandera: {
    type: Boolean,
    value: false
  }
  };
}
obtenerClientes() {
  var request = new XMLHttpRequest();
 request.open("GET", "https://services.odata.org/V4/Northwind/Northwind.svc/Customers", false);
  request.setRequestHeader("Accept", "application/json");
  request.send();
  this.clientes = JSON.parse(request.responseText).value;
  this.bandera = true;
}
    }

    window.customElements.define(MyExtapi.is, MyExtapi);
  </script>
</dom-module>
