<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="shared-styles.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<dom-module id="my-login">
  <template>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }
    </style>
      <form hidden$={{logado}}>
        <div class="container-fluid">

        </div>
        <div class="form-group">
          <input type="email" id='email2' value="{{email::input}}" class="form-control centrado" placeholder="Usuario *" required autofocus>
        </div>
        <div class="form-group">
          <input type="password" id='email2' value="{{password::input}}" class="form-control centrado" placeholder="Contraseña *" required>
        </div>
        <div class="col text-center">
          <button id ='boton' type="button" on-click="login" class="btn btn-primary">Iniciar Sesión</button>
        </div>
      </form>
      <div class="col text-center" hidden$={{!logado}}>
      Bienvenido
      </div>

    <div class="col text-center">
      <div class="card" hidden$={{!logado}}>
        <a name="clients" href="[[rootPath]]clients">Catálogo de Clientes</a>
      </div>
    </div>
  <div class="col text-center">
    <div class="card" hidden$={{!logado}}>
      <a name="extapi" href="[[rootPath]]management">Administración de Clientes</a>
    </div>
  </div>
  <div class="col text-center">
    <div class="card" hidden$={{!logado}}>
      <a name="extapi" href="[[rootPath]]extapi">Posibles Clientes</a>
    </div>
  </div>



    <iron-ajax
      id="doLogin"
      url="http://localhost:3000/usuarios/login"
      content-type="application/json"
      crossDomain: true
      dataType: 'jsonp'
      method="POST"
      handle-as="json"
      headers="Acces-Control-Allow-Headers: *"
      on-response="manageAJAXResponse"
      on-error="showError"></iron-ajax>

  </template>

  <script>
    class MyLogin extends Polymer.Element {
      static get is() { return 'my-login'; }
      static get properties() {
              return {
                email: {
                  type: String
                },
                password: {
                  type: String
                },
                logado:{
                  type:Boolean,
                  value:false
                }
              };
            }
            login(){
              var loginData={"email":this.email,"password":this.password};
              this.$.doLogin.body=JSON.stringify(loginData);
              this.$.doLogin.generateRequest();
              console.log('Petición enviada');
            }

            manageAJAXResponse(data){
              console.log("Respuesta recibida del servidor");
              this.logado=true;
            }

            showError(error){
              alert("Datos incorrectos, valide");
              console.log(error);
            }

    }

    window.customElements.define(MyLogin.is, MyLogin);
  </script>
</dom-module>
