<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="shared-styles.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">

<dom-module id="my-management">
  <template>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }
    </style>
    <style is = "custom-style">
          #container {
             display: flex;
          }
    </style>

  <div class="col text-center centrado">
    <div class="card">
            <a name="login" href="[[rootPath]]">Menú Principal</a>
            <a name="login" href="[[rootPath]]clients">Catálogo de Clientes</a>
    </div>
  </div>

<div class="card" hidden="{{bandera}}">
  <div class="col text-center">
    <form method="post">
  <div class="container-fluid">
    <a>Añadir Clientes</a>
  <div class="row">
    <div class="col-sm col-md-4">
      <input type="text" id='email1' value="{{Nombre::input}}" class="form-control centrado" minlength=2 placeholder="Nombre" required pattern="[A-Za-z]+">
    </div>
    <div class="col-sm col-md-4">
      <input type="text" id='email1' value="{{Apellido::input}}" class="form-control centrado" minlength=2 placeholder="Apellido" required pattern="[A-Za-z]+">
    </div>
    <div class="col-sm col-md-4">
      <input type="number" id='email1' value="{{cuenta::input}}" class="form-control centrado" min=10000 placeholder="Cuenta" required pattern="[A-Za-z]+">
    </div>
    <div class="col-sm col-md-4">
      <input type="number" id='email1' value="{{saldo::input}}" class="form-control centrado" min=0 placeholder="Saldo "required>
    </div>
    <div class="col-sm col-md-4">
      <input type="text" id='email1' value="{{tipoT::input}}" class="form-control centrado" minlength=6 placeholder="Débito/Crédito"required>

    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-sm">
      <button type="button" name="button" id="boton" class="btn btn-primary" on-click="nuevoCliente">Añadir</button>
    </div>
  </div>
  </div>
</form>
</div>
</div>

  <div class="card" hidden="{{bandera}}">
    <div class="col text-center">
      <form id = 'Movimiento'>
    <div class="container-fluid">
      <a>Añadir Movimientos</a>
    <div class="row">
      <div class="col-xm-2 col-sm-3 col-md-4 col-lg-4">
        <input type="number" id='email1' value="{{Cuenta::input}}" class="form-control centrado" placeholder="Cuenta" min=1000 required>
      </div>
      <div class="col-xm-2 col-sm-3 col-md-4 col-lg-4">
        <input type="number" id='email1' value="{{importe::input}}" class="form-control centrado" placeholder="Importe" min=0 required>
      </div>
      <div class="col-xm-2 col-sm-3 col-md-4 col-lg-4">
        <input type="text" id='email1' value="{{categoria::input}}" class="form-control centrado" placeholder="Categoria" minlength=4 required>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-sm">
        <button type="button" form='Movimiento' id="boton" class="btn btn-primary" on-click="nuevoMovimiento">Añadir</button>
      </div>
    </div>
    </div>
  </form>
  </div>
  </div>


</template>


  <script>
    class MyManagement extends Polymer.Element {
      static get is() { return 'my-management'; }
      static get properties() {
  return {
    importe: Number,
    tipoT: String,
    Cuenta: Number,
    categoria: String,
    saldo: Number,
    cuenta: Number,
    idCliente: Number,
    Nombre: String,
    Apellido: String
  };
}


nuevoCliente(){
  if (this.cuenta == undefined || this.saldo == undefined || this.Nombre == undefined || this.Apellido == undefined || this.tipoT == undefined || this.cuenta < 10000 || this.saldo < 0){
    alert("Error, valide los campos");
  } else if(this.cuenta == NaN || this.saldo == NaN || this.Nombre == NaN || this.Apellido == NaN || this.tipoT == NaN){
    alert("Error, valide los campos");
  } else {
  var request = new XMLHttpRequest();
  request.open("POST", "http://localhost:3000/clientes/", false);
  request.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
  request.send(JSON.stringify({ "saldo": this.saldo, "nombre":  this.Nombre, "apellido" : this.Apellido, "numCuenta" : this.cuenta, "typoTarjeta" : this.tipoT }));
  alert("Nuevo cliente " + this.Nombre +" "+ this.Apellido + " agregado");
  this.cuenta = this.saldo = this.Nombre = this.Apellido = this.tipoT = undefined;
  }
}


nuevoMovimiento(){
  if (this.Cuenta == undefined || this.importe == undefined || this.categoria == undefined  || this.importe < 1 || this.Cuenta < 10000){
    alert("Error, valide los campos");
    console.log(this.Nombre + this.Apellido + this.tipoT + this.cuenta + this.saldo);
  } else if(this.Cuenta == NaN || this.importe == NaN || this.categoria == NaN){
    alert("Error, valide los campos");
  } else {
  var request = new XMLHttpRequest();
  request.open("POST", "http://localhost:3000/clientes/numCuenta/"+this.Cuenta, false);
  request.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
  request.send(JSON.stringify({ "importe": this.importe, "categoria":  this.categoria}));
  alert("Nuevo movimiento añadido al cliente: " + this.Cuenta);
  this.Cuenta = this.importe = this.categoria = undefined;
}
}
}
    window.customElements.define(MyManagement.is, MyManagement);
  </script>
</dom-module>
